body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

.card {
  border: 1px solid #ccc;
  padding: 8px;
  background-color: #fff;
  text-align: center;
}

.card-image {
  width: 160px;
  height: auto;
  object-fit: contain;
  margin-bottom: 6px;
  border-radius: 4px;
}


#card-list,
#deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* ← 最小幅を広げる */
  gap: 16px;
}

#deck-list {
  margin-top: 30px;
}

#search-box {
  padding: 6px;
  width: 200px;
  margin-bottom: 10px;
}

#search-button {
  padding: 6px 12px;
  margin-left: 5px;
}